<!DOCTYPE html>
<html>
<head>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title></title>

    <style>
                body {
                padding-top: 20px;
                background-color: #ccc;
              }
              .container{
                background-color: #fff;
              }

    </style>
    {% block head %}{% endblock %}
</head>
<body>
  <!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
      <a class="navbar-brand" href="#">Django Telegram Msg</a>
    </div>
    <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="usuarios">Usuarios</a></li>

        </ul>
        </li>

    </div><!--/.nav-collapse -->
  </div>
</nav>


<br>

  <div class="container">
      <div class="com-md-6 com-md-offset-3">
                      {% block content %}
                      {% endblock %}
      </div>
  </div>

</body>
</html>
