{% extends 'bot/base.html' %}


{% block head%}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }

   </style>

{%endblock%}

{% block content %}


<br>
<h1>mandando msg!!</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data" >{% csrf_token %}
 <select name="usuario" id="usuario">
    {% for usuario in usuarios %}

        <option value="{{ usuario.codigo}}">{{ usuario.nome}}</option>

    {%endfor%}
</select>
<br>

    mensagem:<br>
    <textarea name='mensagem'></textarea><br><br>
    arquivo:<br>
    <input type='file' name="arquivo" id="arquivo"><br><br>
    <input type="submit" value="Submit">

</form>
{% endblock %}

