<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<h1>mandando msg!!</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data" >{% csrf_token %}
 <select name="usuario" id="usuario">
    {% for usuario in usuarios %}

        <option value="{{ usuario.codigo}}">{{ usuario.nome}}</option>

    {%endfor%}
</select>
<br>

    mensagem:<br>
    <textarea name='mensagem'></textarea><br><br>
    arquivo:<br>
    <input type='file' name="arquivo" id="arquivo"><br><br>
    <input type="submit" value="Submit">

</form>

</body>
</html>
