{% extends 'bot/base.html' %}
{% block head%}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }

   </style>

{%endblock%}

{% block content %}
<br>
<h1>Posts {{user.name}}</h1>
{% csrf_token %}

<table class="table table-striped table-responsive" >

<thead>
  <tr>
    <th>Text</th>
    <th>Date</th>

  </tr>
</thead>
</div>


<tbody>

    {% for a in text%}
<tr>
          <td> Texto: {{ a.text_file}}     </td>
          <td>Data:{{a.created_at}}</td>

</tr>

    {%endfor%}
</table>
 </tbody>

<br>


{% endblock %}