{% extends 'bot/base.html' %}
{% block head%}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }

   </style>

{%endblock%}

{% block content %}
<br>
<h1>Historio {{usuario.nome}}</h1>
{% csrf_token %}

<table class="table table-responsive" >

 {% for a in imagem%}
 <tr>
          <td><img src='{{ a.imagem.url}}'width=13% height=13%> </td>
          <td>Data:{{a.created_at}}</td>
 </tr>
    {%endfor%}


</table>

<br>

{% endblock %}
