{% extends 'bot/base.html' %}
{% block head%}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }

   </style>

{%endblock%}

{% block content %}
<br>
<h1>Historio</h1>
{% csrf_token %}

    {% for usuario in usuarios %}
<tr><br>
          <td> {{ usuario.nome }}</td><br>
          <td> <a href='/usuario/{{usuario.id}}'>Clique aqui para textos</a></td><br>
          <td> <a href='/usuariofoto/{{usuario.id}}'>Clique aqui para imagens</a></td><br>

</tr>
    {%endfor%}

<br>

{% endblock %}
